# items

Tree Plat
	group: plat_group

Player
	controller: Sprite Layer, 0
	animation: squirrel
	group: sprite_group

Squirrel2
	controller: Sprite Layer, 2
	animation: squirrel
	sprite_sheet: squirrel2
	group: sprite_group


# groups

sprite_group
plat_group


# collision_systems

wall_collisions
	args: sprite_group, plat_group

sprite_collisions
	args: sprite_group, 


# bg_layers

Small
	image: smalltree.gif
	scale: 0.5
	position: 0, 52.5
	buffer: 50, 0
	wrap: 1, 0

Mid
	image: midtree.gif
	scale: 0.75
	position: 0, 77.5
	buffer: 75, 0
	wrap: 1, 0

Big
	image: bigtree.gif
	scale: 1
	position: 0, 110
	buffer: 100, 0
	wrap: 1, 0


# layers

Camera Layer
	pause
	frame_advance
	bg_layers: Small, Mid, Big
	camera_windows: fast_push, slow_push
	camera

Walls Layer
	groups: plat_group, 
	parent_layer: Camera Layer

Sprite Layer
	controllers
	groups: sprite_group, 
	parent_layer: Camera Layer

Debug Layer
	environment
	huds: player, camera, game

Pause Menu
	pause_menu
	environment

# commands

double tap right
	window: 20
	devices: dpad, 
	steps: neutral, right, neutral, right

double tap left
	window: 20
	devices: dpad, 
	steps: neutral, left, neutral, left

double tap up
	window: 20
	devices: dpad, 
	steps: neutral, up, neutral, up


# huds

player
	object: Player
	acceleration
	velocity
	position
	grounded

camera
	object: Camera
	velocity
	size
	position
	focus_point

game
	dt


# camera_windows

slow_push
	window_size: 300, 450
	shift: 300, 150
	track_sprite: Player, .08
	track_sprite_heading: Player, 1.5

fast_push
	window_size: 400, 500
	shift: 550, 0
	offset: 0, -100
	track_sprite: Player, .5
	track_sprite_heading: Player, 1.5

# camera

anchor_track_function
	func: ground_track, Player
	rate: .05

anchor_position_function
	func: vertical_position_track, Camera, 0, 600	
	span: 450, 550

bounds_edge
	value: 650

scale_track_function
	func: vertical_position_track, Camera, 150, 650
	span: 1, 2
